@model HotelSystem.Models.Reservation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cabin:600,700|Lato:300,400" rel="stylesheet">
    <script src="https://use.fontawesome.com/086e19824e.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        * {
            box-sizing: border-box;
        }

        .row::after {
            content: "";
            display: table;
            clear: both;
        }

        .left {
            float: left;
            width: 100%;
            height: inherit;
        }

        .right {
            float: right;
            width: 0%;
            height: 600px;
            background-color: bisque;
        }

        .left form {
            margin-left: 400px;
            margin-right: 400px;
            margin-top: 30px;
            height: inherit;
            border: 1px solid dimgrey;
        }

        .img-space {
            height: 300px;
            background-image: url('/Content/img/room-4.jpg');
            background-position: center;
            background-size: inherit;
            background-repeat: no-repeat;
        }

        .booking-details {
            height: inherit;
            margin: 30px;
            margin-top: 10px;
            font-size: 16px;
        }

            .booking-details p {
                margin: 20px;
            }

        .min-cont {
            float: left;
            height: 100px;
        }

        .info {
            float: left;
            width: 50%;
        }

        .btn-div {
            float: left;
            width: 100%;
            height: 60px;
        }

        .btn-default {
            width: 1000px;
            height: 50px;
            color: white;
            background-color: limegreen;
        }
    </style>

</head>
<body>
    <div class="row">
        <div class="left">
            <form>
                <div class="img-space"></div>

                <div class="booking-details">
                    <div class="row">
                        <div class="info">
                            <p><b>Name</b></p>
                            <p><b>Email</b></p>
                        </div>

                        <div class="info">
                            <p>@Html.DisplayFor(model => model.CustomerName)</p>
                            <p>@Html.DisplayFor(model => model.Email)</p>
                        </div>
                    </div>


                    <p><hr /></p>
                    <div class="row">
                        <div class="info">
                            <p><b>Check-In</b></p>
                            <p><b>Arrival</b></p>
                            <p><b>Rooms</b></p>
                            <p><b>Nights</b></p>
                            <p><b>Total</b></p>
                        </div>

                        <div class="info">
                            <p>@Html.DisplayFor(model => model.From)</p>
                            <p>@Html.DisplayFor(model => model.Time)</p>
                            <p>@Html.DisplayFor(model => model.RoomType)</p>
                            <p>@Html.DisplayFor(model => model.Nights)</p>
                            <p>@Html.DisplayFor(model => model.Cost)</p>
                        </div>
                    </div>
                    <hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <input type="submit" value="CANCEL BOOKING" class="btn btn-default" />
                            @*@Html.ActionLink("Back to List", "Index")*@
                            <!--@Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })-->
                        </div>
                    }
                </div>
            </form>
        </div>

        <div class="right"></div>
    </div>
    <div></div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>